In [4]:
%matplotlib inline
%load_ext autoreload
%autoreload 2

In [5]:
import pandas as pd
import numpy as np

In [6]:
from pathlib import Path
home = str(Path.home())

In [7]:
import sys
sys.path.insert(0,"%s/rankability_toolbox_dev"%home)

In [8]:
import pyrankability

In [11]:
D2 = pd.DataFrame([
    [0,3,5,8,15],
    [0,0,2,4,9],
    [7,0,0,3,4],
    [0,0,0,0,5],
    [0,0,0,0,0]
])

In [14]:
C = pyrankability.construct.C_count(D2)
C

     0    1    2    3    4
0  0.0  1.0  2.0  1.0  1.0
1  5.0  0.0  1.0  0.0  0.0
2  6.0  5.0  0.0  1.0  0.0
3  6.0  6.0  5.0  0.0  0.0
4  7.0  7.0  7.0  5.0  0.0

In [16]:
print(C.to_latex())

\begin{tabular}{lrrrrr}
\toprule
{} &    0 &    1 &    2 &    3 &    4 \\
\midrule
0 &  0.0 &  1.0 &  2.0 &  1.0 &  1.0 \\
1 &  5.0 &  0.0 &  1.0 &  0.0 &  0.0 \\
2 &  6.0 &  5.0 &  0.0 &  1.0 &  0.0 \\
3 &  6.0 &  6.0 &  5.0 &  0.0 &  0.0 \\
4 &  7.0 &  7.0 &  7.0 &  5.0 &  0.0 \\
\bottomrule
\end{tabular}